*{
    margin: 0;
    padding: 0;
}
h5{
    font-size: 32px;
    background-color: brown;
}
.External{
    background-color: aqua;
    font-size: 35px;
}
.Ex1{
    background-color: aqua;
    font-size: 32px;
}
h3{
    font-size: 32px;
}