.thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.thumbnail-card {
    border: 2px solid;
    height: 450px;
}

.thumbnail-card img {
    width: 100%;
    height: 280px;
}

.thumbnail-card p {
    font-size: 20px;
    margin-left: 10px;
}
button{
    margin-left: 10px;
}