@media(max-width: 500px){
    body{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        /* background-color: black; */
        /* color: white; */
    }
    .head .text h2{
        font-size: 45px;
    }
    .list ul{
        display: none;
        flex-wrap: wrap;
        position: absolute;
        left: 1700px;
        z-index: 1;
        margin-left: -500px;
        background-color: black;
        color: aliceblue;
    }
    .head ul li{
        margin-top: 100px;
        width: 300px;
        font-weight: bold;
        font-size: 40px;
        /* border: 1px solid white; */
    }
    .fa-angle-down{
        margin-top: 110px;
        margin-left: -128px;
    }
    .fa-chevron-down{
        margin-left: -70px;
        margin-top: 110px;
    }
    .list img{
            display: block;
            height: 50px;
            width: 50px;
            margin-left: 870px;
            margin-top: 15px;
    }
    .list:hover ul{
        display: block;
    }
    .cla2{
        position: absolute;
        top: 100px;
    }
    .cla3{
        position: absolute;
        top: 190px;
    }
    .cla3{
        position: absolute;
        top: 220px;
    }
    .cla5{
        position: absolute;
        bottom: 50px;
        right: 2px;
    }
    ul button{
        width: 200px;
        height: 60px;
        font-size: 25px;
        position: absolute;
        right: 130px;
        top: 560px;
        background-color: #ECE5FF;
    }
    .center{
        width: 1600px;
        /* height: 30px; */
        /* border: 1px solid; */
    }
    .center .b1{
        height: 50px;
        width: 120px;
        font-size: 18px;
    }
    .center .b2{
        height: 60px;
        /* width: 120px; */
        font-size: 18px;
    }
    .info{
        /* border: 3px solid; */
        width: 500px;
    }
    .icon{
        width: 900px;
        /* border: 3px solid; */
        margin-left: 325px; 
    }
    .main{
        flex-wrap: wrap;
    }
    .main .mainimage img{
        width: 900px;
        margin-left: 300px;
    }
    .line::before{
        content: "";
        position: absolute;
        height: 130px;
    }
    .content{
        width: 500%;
        /* border: 3px solid; */
        margin-left: 300px;
    }
    .content .con1{
        width: 900px;
        line-height: 38px;
        font-size: 40px;
        /* font-weight: bold; */
    }
    .content .con2{
        width: 900px;
        line-height: 38px;
        font-size: 40px;
        /* font-weight: bold; */
    }
    .divhead h1{
        margin-left: 440px;
        width: 600px;
    }
    .card{
        /* width: 500px; */
        margin-left: 730px;
        font-size: 30px;
    }
    .card .c1 p{
        width: 500px;
    }
    .card .c2 p{
        width: 380px;
    }
    .card .c3 p{
        width: 430px;
    }
    .card2{
        /* width: 500px; */
        margin-left: 730px;
        font-size: 30px;
    }
    .card2 .c4 p{
        width: 500px;
    }
    .card2 .c5 p{
        width: 380px;
    }
    .card2 .c6 p{
        width: 430px;
    }
    .work{
        flex-wrap: wrap;
    }
    .work .wc{
        width: 1200px;
        /* border: 3px solid ; */
        font-size: 30px;
        margin-left: 180px;
    }
    .work .wc h1{
        width: 500px;
    }
    .work .wc p{
        width: 800px;
        font-size: 38px;
    }
    .work .wc button{
        width: 200px;
        height: 50px;
        font-size: 20px;
    }
    .graph img{
        width: 1100px;
        margin-left: 300px;
    }
    .after{
        width: 1200px;
        /* border: 3px solid; */
        font-size: 30px;
    }
    .after h1{
        width: 700px;
        margin-left: 300px;
    }
    .after p{
        width: 800px;
        font-size: 30px;
        margin-left: 260px;
    }
    .ca{
        margin-left: 400px;
        width: 500px;
        flex-wrap: wrap;
        height: 600px;
        /* border: 3px solid; */
    }
    .ca .ca1 img{
        width: 200px;
    }
    .ca .ca1 .i1 h4{
        margin-top: 20px;
        font-size: 38px;
    }
    .ca .ca1 .i1 p{
        font-size: 38px;
        margin-top: 20px;
    }
    .ca .ca2 img{
        width: 200px;
    }
    .ca .ca2 .i2 h4{
        margin-top: 20px;
        font-size: 38px;
    }
    .ca .ca2 .i2 p{
        font-size: 30px;
        margin-top: 20px;
    }
    .ca .ca3 img{
        width: 200px;
    }
    .ca .ca3 .i3 h4{
        margin-top: 20px;
        font-size: 38px;
    }
    .ca .ca3 .i3 p{
        font-size: 38px;
        margin-top: 20px;
        line-height: 35px;
    }
    .ca1::before{
        content: "";
        position: absolute;
        left: 400px;
        width: 500px;
    }
    .box{
        width: 800px;
        height: 500px;
        margin-left: 300px;
        background-color: #796EFF;
    }
    .box .box1{
        width: 300px;
    }
    .box .box1 .x1 h2{
        margin-left: -100px;
        font-size: 38px;
    }
    .box2{
        flex-wrap: wrap;
        /* position: absolute; */
    }
    .box2 .play{
        margin-top: 100px;
        margin-left: -600px;
    }
    .box2 .play img{
        height: 80px;
    }
    .box2 .ios{
        margin-top: 200px;
        margin-left: -200px;
    }
    .box2 .ios img{
        height: 80px;
    }
    .footer{
        height: 800px;
        background-color: #1D2830;
        /* margin-left: 500px; */
        flex-wrap: wrap;
        width: 1500px;
        border: 3px solid;
    }
    .footer .foot{
        font-size: 45px;
        line-height: 120px;
    }
    .copy p{
        font-size: 35px;
    }
    hr{
        margin-top: -150px;
    }
    .icn{
        position: relative;
    }
    .icn .icn1 img{
        position: absolute;
        top: -10px;
        left: 10px;
        width: 200px;
    }
    .icn .icn2 img{
        position: absolute;
        top: -12px;
        left: 200px;
        width: 70px;
    }
    .icn .icn3 img{
        position: absolute;
        top: -10px;
        left: 280px;
        width: 140px;
    }
    .icn .icn4 img{
        position: absolute;
        top: -10px;
        left: 370px;
        width: 160px;
    }

}